@import url('./reset.css');
@import url('./fonts.css');

:root {
	--orange-light: #ff976b;
	--black-90: #1a1a1a;
	--font-family-suisse: suisseintl, sans-serif;
	--font-family-gramatika: Gramatika, sans-serif;

	font-family: var(--font-family-suisse);
	color: var(--black-90);
	background: #f2f1ee;
}

@media (max-width: 767px) {
    #wa-widget .a11y-widget{
		height: 100dvh;
	}
}

@media (max-width: 370px) {
    #header .header__tool-button {
        display: block;
    }
}
